In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('ndsnflabhfvbaobvf'))
s

0     n
1     d
2     s
3     n
4     f
5     l
6     a
7     b
8     h
9     f
10    v
11    b
12    a
13    o
14    b
15    v
16    f
dtype: object

In [3]:
s.unique()

array(['n', 'd', 's', 'f', 'l', 'a', 'b', 'h', 'v', 'o'], dtype=object)

In [4]:
s.value_counts()

b    3
f    3
a    2
n    2
v    2
s    1
o    1
l    1
h    1
d    1
dtype: int64

In [6]:
dados = pd.read_csv('aluguel.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
1,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
2,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
3,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
4,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento

In [8]:
dados['Tipo'].value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64

In [9]:
dados.Tipo.unique()

array(['Apartamento', 'Casa', 'Casa de Condomínio', 'Casa de Vila',
       'Quitinete'], dtype=object)

In [10]:
dados.Tipo.value_counts()

Apartamento           16923
Casa de Condomínio      964
Casa                    898
Quitinete               813
Casa de Vila            233
Name: Tipo, dtype: int64