In [1]:
import pandas as pd

In [4]:
dados = pd.read_csv('Alcohol.csv')
dados.head(10)

   Rank         Country  Liters of pure alcohol consumed per capita
0     1         Belarus                                        17.5
1     2         Moldova                                        16.8
2     3       Lithuania                                        15.4
3     4          Russia                                        15.1
4     5         Romania                                        14.4
5     6         Ukraine                                        13.9
6     7         Andorra                                        13.8
7     8         Hungary                                        13.3
8     9  Czech Republic                                        13.0
9    10        Slovakia                                        13.0

In [5]:
type(dados)

pandas.core.frame.DataFrame

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 3 columns):
Rank                                          25 non-null int64
Country                                       25 non-null object
Liters of pure alcohol consumed per capita    25 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 680.0+ bytes

In [10]:
dados.describe()

            Rank  Liters of pure alcohol consumed per capita
count  25.000000                                   25.000000
mean   13.000000                                   13.160000
std     7.359801                                    1.575331
min     1.000000                                   11.600000
25%     7.000000                                   12.200000
50%    13.000000                                   12.500000
75%    19.000000                                   13.800000
max    25.000000                                   17.500000

In [7]:
dados.shape

(25, 3)

In [8]:
dados.index

RangeIndex(start=0, stop=25, step=1)

In [9]:
dados.count()

Rank                                          25
Country                                       25
Liters of pure alcohol consumed per capita    25
dtype: int64

In [11]:
dados.sum()

Rank                                                                                        325
Country                                       BelarusMoldovaLithuaniaRussiaRomaniaUkraineAnd...
Liters of pure alcohol consumed per capita                                                  329
dtype: object

In [15]:
dados['Liters of pure alcohol consumed per capita'].sum()

329.0

In [16]:
dados.mean()

Rank                                          13.00
Liters of pure alcohol consumed per capita    13.16
dtype: float64

In [17]:
dados['Liters of pure alcohol consumed per capita'].mean()

13.16

In [18]:
dados.std()

Rank                                          7.359801
Liters of pure alcohol consumed per capita    1.575331
dtype: float64

In [19]:
dados['Liters of pure alcohol consumed per capita'].std()

1.575330653122279

In [20]:
dados.min()

Rank                                                1
Country                                       Andorra
Liters of pure alcohol consumed per capita       11.6
dtype: object

In [21]:
dados['Liters of pure alcohol consumed per capita'].min()

11.6

In [22]:
dados.max()

Rank                                                      25
Country                                       United Kingdom
Liters of pure alcohol consumed per capita              17.5
dtype: object

In [23]:
dados['Liters of pure alcohol consumed per capita'].max()

17.5

In [24]:
dados.median()

Rank                                          13.0
Liters of pure alcohol consumed per capita    12.5
dtype: float64

In [25]:
dados['Liters of pure alcohol consumed per capita'].median()

12.5

In [28]:
dados['Chave'] = dados['Rank'].map(str) + " - " + dados.Country

In [29]:
dados.head(10)

,Rank,Country,Liters of pure alcohol consumed per capita,Chave
0,1,Belarus,17.5,1 - Belarus
1,2,Moldova,16.8,2 - Moldova
2,3,Lithuania,15.4,3 - Lithuania
3,4,Russia,15.1,4 - Russia
4,5,Romania,14.4,5 - Romania
5,6,Ukraine,13.9,6 - Ukraine
6,7,Andorra,13.8,7 - Andorra
7,8,Hungary,13.3,8 - Hungary
8,9,Czech Republic,13.0,9 - Czech Republic
9,10,Slovakia,13.0,10 - Slovakia

In [30]:
dados['Teste'] = 'Teste'
dados.head()

,Rank,Country,Liters of pure alcohol consumed per capita,Chave,Teste
0,1,Belarus,17.5,1 - Belarus,Teste
1,2,Moldova,16.8,2 - Moldova,Teste
2,3,Lithuania,15.4,3 - Lithuania,Teste
3,4,Russia,15.1,4 - Russia,Teste
4,5,Romania,14.4,5 - Romania,Teste

In [31]:
dados.Teste.apply(lambda x: x.replace('Teste', 'Testando'))

0     Testando
1     Testando
2     Testando
3     Testando
4     Testando
5     Testando
6     Testando
7     Testando
8     Testando
9     Testando
10    Testando
11    Testando
12    Testando
13    Testando
14    Testando
15    Testando
16    Testando
17    Testando
18    Testando
19    Testando
20    Testando
21    Testando
22    Testando
23    Testando
24    Testando
Name: Teste, dtype: object

In [32]:
dados['Liters of pure alcohol consumed per capita'].sort_values()

24    11.6
23    11.6
22    11.8
21    11.9
20    11.9
19    12.2
18    12.2
17    12.2
16    12.3
15    12.3
14    12.3
13    12.5
12    12.5
11    12.6
10    12.9
9     13.0
8     13.0
7     13.3
6     13.8
5     13.9
4     14.4
3     15.1
2     15.4
1     16.8
0     17.5
Name: Liters of pure alcohol consumed per capita, dtype: float64

In [33]:
dados['Liters of pure alcohol consumed per capita'].sort_values(ascending=False)

0     17.5
1     16.8
2     15.4
3     15.1
4     14.4
5     13.9
6     13.8
7     13.3
8     13.0
9     13.0
10    12.9
11    12.6
12    12.5
13    12.5
14    12.3
15    12.3
16    12.3
17    12.2
18    12.2
19    12.2
20    11.9
21    11.9
22    11.8
23    11.6
24    11.6
Name: Liters of pure alcohol consumed per capita, dtype: float64

In [34]:
dados['Liters of pure alcohol consumed per capita'].add(10000000)

0     10000017.5
1     10000016.8
2     10000015.4
3     10000015.1
4     10000014.4
5     10000013.9
6     10000013.8
7     10000013.3
8     10000013.0
9     10000013.0
10    10000012.9
11    10000012.6
12    10000012.5
13    10000012.5
14    10000012.3
15    10000012.3
16    10000012.3
17    10000012.2
18    10000012.2
19    10000012.2
20    10000011.9
21    10000011.9
22    10000011.8
23    10000011.6
24    10000011.6
Name: Liters of pure alcohol consumed per capita, dtype: float64

In [35]:
dados['Liters of pure alcohol consumed per capita'].sub(10000000)

0    -9999982.5
1    -9999983.2
2    -9999984.6
3    -9999984.9
4    -9999985.6
5    -9999986.1
6    -9999986.2
7    -9999986.7
8    -9999987.0
9    -9999987.0
10   -9999987.1
11   -9999987.4
12   -9999987.5
13   -9999987.5
14   -9999987.7
15   -9999987.7
16   -9999987.7
17   -9999987.8
18   -9999987.8
19   -9999987.8
20   -9999988.1
21   -9999988.1
22   -9999988.2
23   -9999988.4
24   -9999988.4
Name: Liters of pure alcohol consumed per capita, dtype: float64

In [36]:
dados['Liters of pure alcohol consumed per capita'].mul(10000000)

0     175000000.0
1     168000000.0
2     154000000.0
3     151000000.0
4     144000000.0
5     139000000.0
6     138000000.0
7     133000000.0
8     130000000.0
9     130000000.0
10    129000000.0
11    126000000.0
12    125000000.0
13    125000000.0
14    123000000.0
15    123000000.0
16    123000000.0
17    122000000.0
18    122000000.0
19    122000000.0
20    119000000.0
21    119000000.0
22    118000000.0
23    116000000.0
24    116000000.0
Name: Liters of pure alcohol consumed per capita, dtype: float64

In [37]:
dados['Liters of pure alcohol consumed per capita'].div(10000000)

0     0.000002
1     0.000002
2     0.000002
3     0.000002
4     0.000001
5     0.000001
6     0.000001
7     0.000001
8     0.000001
9     0.000001
10    0.000001
11    0.000001
12    0.000001
13    0.000001
14    0.000001
15    0.000001
16    0.000001
17    0.000001
18    0.000001
19    0.000001
20    0.000001
21    0.000001
22    0.000001
23    0.000001
24    0.000001
Name: Liters of pure alcohol consumed per capita, dtype: float64

In [39]:
dados[dados['Rank'] % 2 == 0]

,Rank,Country,Liters of pure alcohol consumed per capita,Chave,Teste
1,2,Moldova,16.8,2 - Moldova,Teste
3,4,Russia,15.1,4 - Russia,Teste
5,6,Ukraine,13.9,6 - Ukraine,Teste
7,8,Hungary,13.3,8 - Hungary,Teste
9,10,Slovakia,13.0,10 - Slovakia,Teste
11,12,Serbia,12.6,12 - Serbia,Teste
13,14,Poland,12.5,14 - Poland,Teste
15,16,Finland,12.3,16 - Finland,Teste
17,18,France,12.2,18 - France,Teste
19,20,Croatia,12.2,20 - Croatia,Teste
21,22,Luxembourg,11.9,22 - Luxembourg,Teste
23,24,Slovenia,11.6,24 - Slovenia,Teste

In [40]:
dados['Country'].unique()

array(['Belarus', 'Moldova', 'Lithuania', 'Russia', 'Romania', 'Ukraine',
       'Andorra', 'Hungary', 'Czech Republic', 'Slovakia', 'Portugal',
       'Serbia', 'Grenada', 'Poland', 'Latvia', 'Finland', 'South Korea',
       'France', 'Australia', 'Croatia', 'Ireland', 'Luxembourg',
       'Germany', 'Slovenia', 'United Kingdom'], dtype=object)

In [41]:
dados['Country'].nunique()

25

In [56]:
dados.Country.value_counts()

South Korea       1
Australia         1
United Kingdom    1
Lithuania         1
Ukraine           1
Finland           1
Luxembourg        1
Romania           1
Belarus           1
Slovakia          1
Andorra           1
France            1
Ireland           1
Serbia            1
Russia            1
Moldova           1
Slovenia          1
Germany           1
Latvia            1
Hungary           1
Czech Republic    1
Portugal          1
Croatia           1
Grenada           1
Poland            1
Name: Country, dtype: int64

In [55]:
dados.isnull()

     Rank  Country  Liters of pure alcohol consumed per capita  Chave  Teste
0   False    False                                       False  False  False
1   False    False                                       False  False  False
2   False    False                                       False  False  False
3   False    False                                       False  False  False
4   False    False                                       False  False  False
5   False    False                                       False  False  False
6   False    False                                       False  False  False
7   False    False                                       False  False  False
8   False    False                                       False  False  False
9   False    False                                       False  False  False
10  False    False                                       False  False  False
11  False    False                                       False  False  False
12  False    False                                       False  False  False
13  False    False                                       False  False  False
14  False    False                                       False  False  False
15  False    False                                       False  False  False
16  False    False                                       False  False  False
17  False    False                                       False  False  False
18  False    False                                       False  False  False
19  False    False                                       False  False  False
20  False    False                                       False  False  False
21  False    False                                       False  False  False
22  False    False                                       False  False  False
23  False    False                                       False  False  False
24  False    False                                       False  False  False

In [62]:
dados.groupby(['Teste'])['Liters of pure alcohol consumed per capita'].agg([min, max, sum])

        min   max    sum
Teste
Teste  11.6  17.5  329.0